
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.8rem;
}
/* Navigation start */
.head{
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
    margin: 0px auto;
    align-items: center;
    padding: 1rem;
}
.menu{
    display: none;
    gap: 1.5rem;
    text-decoration: none;
}
@media (min-width: 800px)
{
    .menu{
        display: flex;
    }
}
.menu-link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
}
.menu-link:hover{
    color: var(--link-color);
}
.logo{
    display: flex;
    font-size: 2rem;
    align-items: center;
    font-weight: bold;
    color: var(--dark-gray);
    text-decoration: none;
    gap: 0.625rem;
}
.imglogo{
    height: 2rem;
    width: 2rem;
}
#siteName{
    color: var(--dark-gray);
}
.contact{
    display: none;
    color: var(--light-gray);
    padding: 0.7rem 1.4rem;
    border-radius: 0.375rem;
    font-weight: 600;
    font-size: 1rem;
    background-color: var(--primary-color);
    transform: color 0.1s;
}
.contact:active {
    box-shadow: 2px 2px 5px #6366F1;
  }
@media (min-width: 800px)
{
    .contact{
        display: block;
    }
}
.contact:hover{
    background-color: var(--link-color);
}

.menu-button{
    border: none;
    display: none;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 0.375rem;
    background-color: var(--background-color);
    padding: 0.5rem 0.9rem;
}
.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}
@media (max-width: 799px){
    .menu-button{
        display: block;
    }
}

/* Navigation End */

/* Hero Section Starts*/

.hero{
    max-width: 1180px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.hero-label{
    color: var(--primary-color);
    font-size: 0.8rem;
    font-weight: 600;
}
.hero-title{
    font-size: 2.25rem;
    padding: 1.1rem;
    color: var(--text-color);
}
.hero-desc{
    color: var(--gray);
    font-size: 1.13rem;
}
.btngroup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
    padding: 1rem;
}
.btngroup :nth-child(1),.btngroup :nth-child(2){
    color: var(--light-gray);
    padding: 0.7rem 1.4rem;
    border-radius: 0.375rem;
    font-weight: 600;
    font-size: 1rem;
    background-color: var(--primary-color);
}
.btngroup :nth-child(2){
    background-color: var(--text-color);
}
.btngroup :nth-child(1):hover{
    background-color: var(--link-color);
}
.btngroup :nth-child(2):hover{
    background-color: var(--dark-gray);
}
.btngroup :nth-child(1):active {
    box-shadow: 2px 2px 5px #6366F1;
}
.btngroup :nth-child(2):active {
    box-shadow: 2px 2px 5px var(--dark-gray);
}

.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.25rem;
    overflow: hidden;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
}
.hero-image{
    height: 50vh;
    width: 100%;
}
@media (min-width: 802px)
{
    .hero{
        display: flex;
        flex-direction: row;
        gap: 7.5%;
        align-items: center;
        margin-top: 3rem;
    }
    .content-left{
        max-width: 50%;
        text-align: left;
    }
    .hero-title{
        padding: 0px;
        margin-top: 0.5rem;
        font-size: 3.5rem;
    } 
    .btngroup{
        justify-content: start;
        padding: 0px;
    }
    .hero-label{
        font-size: 0.925rem;
    }
    .hero-image{
        height: 67vh;
    }
    .hero-desc{
        margin-top: 2rem;
        font-size: 1rem;
        max-width: 30rem;
        margin-bottom: 2rem;
    }
    
}
/* Mini Hero Section */
.company-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem ;
    margin-bottom: 2rem;
    animation: slideFromLeft 1s ease forwards;
}
.company{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--light-gray);
    border-radius: 0.5rem;
    gap: 3.6rem;
    padding: 2rem 2.5rem;
    margin-top: 1.5rem ;
}
.company-logo{
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    gap: 0.5rem;
    color: var(--gray);
    align-items: center;
}
.svg-logo{
    height: 1.56rem; 
}
@media (min-width: 700px)
{
    .company{
        grid-template-columns: repeat(4,1fr);
    }
    .company-title{
        font-size: 2.3rem;
        font-weight: bold;
    }
}

/* Third section */
.third-section{
    background-color: var(--light-gray);
    padding: 2.5rem 0;
    text-align: center;
}
.feature-content{
    max-width: 795px;
    margin: 0px auto;
    padding: 0 2rem;
}
.card-title{
    color: var(--text-color);
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 0.8rem;
}
.card-desc{
    max-width: 65%;
    text-align: center;
    margin: 0 auto;
    font-size: 0.9rem;
    color: var(--gray);
}
.card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    margin: 1.5rem;
    margin: 1.8rem auto;
}

.card-image{
    height: 1.5rem;
    width: 1.5rem;
}
.feature-img-container
{
    height: 3rem;
    width: 3rem;
    background-color: var(--background-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.9rem;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4b7dd4;
    padding: 1.2rem;
    border-radius: 0.5rem;
}
.card-heading{
    color: var(--background-color);
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.card-detail{
    color: var(--background-color);
    font-size: 0.85rem;
    max-width: 90%;
}
@media (max-width: 825px)
{
    .card-container{
        grid-template-columns: repeat(1,1fr);
    }

}

#second
{
    background-color: #ff6289;
}
#third
{
    background-color: #fcbf58;
}
#fourth
{
    background-color: #44bfc3;
}
#fifth
{
    background-color: #77b05d;
}
#sixth
{
    background-color: #7d78b1;
}

#first{
    background-color: #4a90e2;
}

/* Testimonial Section */
.testimonial{
    max-width: 1180px;
    margin: 1.5rem auto;
}
.testimonial-heading{
    color: var(--text-color);
    font-weight: 800;
}
.testimonial-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
}
.testimonial-card{
    border: 1px solid rgb(206, 201, 201);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    border-radius: 0.4rem;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease, box-shadow;
}
.testimonial-img-container{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin-top: 0.9rem;
    margin-bottom: 0.8rem;
}
.testimonial-img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}
.testimonial-card-desc{
    font-size: 0.8rem;
    color: var(--text-color);
    font-weight: 500;
}
.prsn-name{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 0.9rem;
}
.prsn-role{
    font-size: 0.8rem;
}
.testimonial-card:hover{
    transform: scale(1.05);
    box-shadow: 0px 3px 6px rgba(0,0,0,1);
    border: 1px solid blue;
}

/* Newsletter section */
.newsletter-container{
    max-width: 1220px;
    display: flex;
    margin: 3rem auto;
    height: 20rem;
    overflow: hidden;
    border-radius: 0.3rem;
}
.news-img-container{
    width: 50%;
    height: 100%;
    position: relative;
}
.newsletter-img{
   width: 100%;
   height: 100%;
   position: absolute;
   object-fit: cover;
   object-position: center;
   inset: 0;
}
.right-container{
    width: 50%;
    background-color: var(--light-gray);
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.newsletter-heading{
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 800;
    text-align: start;
}
.newsletter-desc{
    color: var(--text-color);
    font-size: 0.9rem;
}
.newsletter-heading-container{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.form-container{
    margin-top: 1rem;
    display: flex;
    gap: 0.4rem;
    align-items: end;
}
.email-input{
    height: 1.6rem;
    width: 9.85rem;
    padding: 0.5rem;
    color: #333;
    background-color: var(--background-color);
    outline: none;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
}
.email-input:focus{
    border-color: #2563eb;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
}
.input-btn{
    height: 1.6rem;
    width: 3.2rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.2rem;
    color: var(--light-gray);
    font-size: 0.7rem;
}
.input-btn:hover{
    background-color: var(--link-color);
    cursor: pointer;;
}
.input-btn:active {
    box-shadow: 2px 2px 5px #6366F1;
  }
.terms-container{
    margin-top: 1rem;
    color: var(--text-color);
    font-size: 0.65rem;
    text-align: start;
}
.term-link{
    color: blue;
    text-decoration: underline;
}
@media (max-width:620px){
    .news-img-container{
        display: none;
    }
    .right-container{
        width: 100%;
    }
}

/* Footer Section */
.sixth{
    background-color: var(--background-color);
    margin: 0px auto;
    padding: 0 2rem;
}
ul{
    list-style: none;
}
.footer{
    max-width: 1180px;
    margin: 0px auto;
}
.main-footer{
    display: flex;
    gap: 1rem;
}
.left-footer{
    /* border: 1px solid black; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 35%;
}
.footer-logo-img-container
{
    height: 1.7rem;
    width: 1.7rem;
}
.footer-logo-image{
    height: 1.7rem;
    width: 1.7rem;
    object-fit: cover;
    object-position: center;
}
.footer-logo-heading{
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 800;
}
.footer-logo-link{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.35rem;
    margin-bottom: 1rem;
}
.footer-desc{
    color: var(--dark-gray);
    font-size: 0.95rem;
    font-weight: 500;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    text-align: start;
}
.footer-social-img-link{
    display: flex;
    gap: 1rem;
}
.social-img-container{
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
}
.social-img{
    height: 1.5rem;
    width: 1.5rem;
}

.right-footer{
    /* border: 1px solid black; */
    display: grid;
    width: 65%;
    grid-template-columns: repeat(4,1fr);
    padding: 1rem;
    gap: 1rem;
}
.column-heading{
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.05rem;
    margin-bottom: 1rem;
}
.footer-links{
    color: var(--dark-gray);
    text-align: start;
    font-size: 0.9rem;
    font-weight: 500;
    /* max-width: 3rem; */
}
.footer-links-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    margin: 0.5rem 0;
}
.footer-right-column{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
}
.copyright-section{
    color: var(--dark-gray);
    font-size: 0.75rem;
    margin-top: 1.5rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #E5E7Eb;
    font-weight: 500;
}
.footer-links:hover{
    color: var(--primary-color);
}
@media (max-width: 950px)
{
    .main-footer{
        flex-direction: column;
        align-items: center;
    }
    .right-footer{
        width: 85%;
        margin: 0px auto;
    }
}
@media (max-width: 732px)
{
    .right-footer{
        grid-template-columns: repeat(2, 1fr);
    }
    .left-footer{
        align-self: start;
        margin-left: 3rem;
     }
}
@media (max-width: 424px)
{
    .right-footer{
        grid-template-columns: repeat(1, 1fr);
    }
    .left-footer{
       align-self: start;
       margin-left: 1.2rem;
    }
}